.app-container {
    display: flex;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.content {
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
    padding: 20px; /* Espaciado interno */
    transition: margin-left 0.3s; /* Transición suave para el cambio de margen */
}

.shifted {
    margin-left: 250px; /* Ajusta el margen cuando la barra lateral está visible */
}

.header {
    background-color: #4CAF50; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    padding: 10px; /* Espaciado interno del encabezado */
    text-align: center; /* Centra el texto */
}

.sidebar {
    width: 250px; /* Ancho de la barra lateral */
    background-color: #f4f4f4; /* Color de fondo de la barra lateral */
    position: fixed; /* Fija la barra lateral */
    height: 100%; /* Asegura que la barra lateral ocupe toda la altura */
    transition: transform 0.3s ease; /* Transición suave para la barra lateral */
    transform: translateX(-100%); /* Oculta la barra lateral por defecto */
}

.sidebar.visible {
    transform: translateX(0); /* Muestra la barra lateral cuando es visible */
}